.news-buzz {
  font-size: 1.5em;
  padding-left: 5px;
  padding-right: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.news-buzz-badge {
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 3px;
}
